/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 0px;
	padding: 0;
	font-size: 12px;
	height:87px;
	width: 25px;
	border-right:1px solid #999;
	border-left:1px solid #999;
	background: transparent;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
	position:absolute;
	top:0px;
	right:-25px;
	z-index:1000;
	color:transparent;
	overflow:hidden;
}

.owl-theme .owl-controls .owl-buttons .owl-next:before{
	 font-family: FontAwesome;
	
	content:"\f054";
	position:absolute;
	left:5px;
	top:35%;
	height:20px;
	width:10px;
	color:#333;
	font-size:20px;
	
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
	position:absolute;
	top:0px;
	left:-27px;
	z-index:1000;
	color:transparent;
}

.owl-theme .owl-controls .owl-buttons .owl-prev:before {
	 font-family: FontAwesome;
	
	content:"\f053";
	position:absolute;
	left:5px;
	top:35%;
	height:20px;
	width:10px;
	color:#333;
	font-size:20px;
	font-weight:normal;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;

}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	display:none;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.html) no-repeat center center
}